* {
  margin: 6px;
}

body {
  font-family: arial;
  margin: 58px;
  text-align: center;
}

h1 {
  text-align: center;
}

.produto {
  background: #111;
  color: #fff;

  padding: 30px;
  margin: 30px;
  border-radius: 4px;
}

h2 {
  margin: 0px;
}

span {
  color: #febe01;
  border-radius: 4px;
}

p {
  color: #b2b2b2;
}

a {
  background-color: #febe01;
  color: #2b2004;
  text-decoration: none;

  display: inline-block;
  border-radius: 4px;
  padding: 11px;
}
